@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/proximaNova/Proxima Nova Light.eot");
  src: url("../fonts/proximaNova/Proxima Nova Light.svg") format("svg");
  src: url("../fonts/proximaNova/Proxima Nova Light.ttf") format("truetype");
  src: url("../fonts/proximaNova/Proxima Nova Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Reg";
  src: url("../fonts/proximaNova/Proxima Nova Reg.eot");
  src: url("../fonts/proximaNova/Proxima Nova Reg.svg") format("svg");
  src: url("../fonts/proximaNova/Proxima Nova Reg.ttf") format("truetype");
  src: url("../fonts/proximaNova/Proxima Nova Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
