html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Proxima Nova Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $darkest-blue;
}

#app {
  background-color: $body-bg;
  min-height: 100%;
  min-width: 100%;
  color: $darkest-blue;
}

.content {
  max-width: $max-content-width;
  margin: auto;
}





.outline-danger {
  outline: 1px solid $danger;
}


//**************************
//       Layout
//**************************


//**************************
//       / Layout
//**************************


//**************************
//       Modals
//**************************

.modal-danger {
  color: $danger;
}

.modal-success {
  color: $success;
}

//**************************
//       / Modals
//**************************


//**************************
//       Forms
//**************************

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/dropdown.png) right / 20px no-repeat #fff;
  padding-right: 20px;
}

.form-small {
  position: relative;
  max-width: 760px;
  margin: auto;

  .form-body {
    background: $white;
    border: 1px solid $silver-three;
    border-radius: 5px;
    padding: 15px 20px 20px 20px;

    select.form-control {
      height: 52px;
    }

    label {
      margin-bottom: 6px;
    }
  }

  .form-group {
    margin-bottom: 0px;

    input {
      height: 52px;
    }

    textarea {
      height: 155px;
    }
  }


  .form-footer {
    margin-top: 20px;
  }
}


//**************************
//       / Forms
//**************************


