html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Proxima Nova Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $darkest-blue;
}

#app {
  background-color: $body-bg;
  min-height: 100%;
  min-width: 100%;
  color: $darkest-blue;
}


//**************************
//       Layout
//**************************

.absolute-left {
  position: absolute;
  left: 0;
}


.max-width {
  max-width: $max-content-width;
  margin: auto;
}





.outline-danger {
  outline: 1px solid $danger;
}

//**************************
//       / Layout
//**************************


//**************************
//       Modals
//**************************

.modal-danger {
  color: $danger;
}

.modal-success {
  color: $success;
}

//**************************
//       / Modals
//**************************


//**************************
//       Forms
//**************************

//--------- errors
.has-error .Select .Select-control,
.has-error .Select .Select-control:hover {
  border-color: $danger !important;
}

.has-error .Select.is-focused {
  .Select-control {
    border-color: $danger !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
  }
}

.invalid-feedback {
  width: 100%;
  margin-top: 0;
  margin-left: 15px;
  float: right;
  color: $danger;
  position: absolute;
}
//--------- / errors


.form-small {
  position: relative;
  max-width: 760px;
  margin: auto;

  .form-body {
    position: relative;
    background: $white;
    border: 1px solid $silver-three;
    border-radius: 5px;
    padding: 15px 19px 7px 20px;

    select.form-control {
      height: 52px;
    }

    label {
      margin-bottom: 4px;
      margin-left: -2px;
    }

    h6 {
      margin-left: -1px;
    }
  }

  .form-group {
    margin-bottom: 13px;

    input, textarea {
      color: $steel;
    }

    .form-control {
      padding: 13px 15px;
    }
  }


  .form-footer {
    margin-top: 20px;
  }

  //------------- react select
  .Select-control {
    height: 52px;

    .Select-placeholder {
      line-height: 50px;
    }

    .Select-value {
      line-height: 50px !important;

      .Select-value-label {
        line-height: 50px;
        color: $darkest-blue !important;
        margin-left: 7px;
      }
    }

    .Select-input {
      height: 50px;
    }
  }
  //------------- / react select
}


//**************************
//       / Forms
//**************************


