html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Proxima Nova Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: $body-bg;
  min-height: 100%;
  min-width: 100%;
}

.content {
  max-width: $max-content-width;
  margin: auto;
}

.outline-danger {
  outline: 1px solid $danger;
}

//**************************
//       Modals
//**************************

.modal-danger {
  color: $danger;
}

.modal-success {
  color: $success;
}

//**************************
//       / Modals
//**************************


//**************************
//       Forms
//**************************

.form-content-small {
  max-width: 760px;
  margin: auto;
  background: $white;
  padding: 20px;
}

//**************************
//       / Forms
//**************************


