@import 'variables_custom';
// import bootstrap after 'variables' - for customizing
@import '~bootstrap/scss/bootstrap.scss';

/*------------------------------------------------------------------------
    override bootstrap classes
-------------------------------------------------------------------------*/

.btn-success {
  color: $white;
  font-size: 14px;
  padding: 4px 18px;
}

/*------------------------------------------------------------------------
    / override bootstrap classes
-------------------------------------------------------------------------*/
