
@import '../../styles/colors_and_variables';

.services-container {
  padding-top: 12px;

  h2 {
    font-size: 30px;
    line-height: 0.9;
    margin-bottom: 25px;
  }

  .list-container {
    border: 1px solid $silver-three;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 486px;

    .tile-wrap {
      padding: 6px;
    }

    .tile {
      width: 140px;
      height: 140px;
      border: 1px solid $silver-three;
      //padding: 15px;
      //flex:0 0 auto;
      //margin: 15px 8px;
    }
  }
}
