
@import '../../styles/colors_and_variables';

.left-bar-component {
  flex:0 0 auto; // Forces side columns to stay same width

  width: 212px;
  padding: 0;

  p {
    color: $steel;
    font-size: 14px;
  }

  .small {
    font-size: 12px;
  }

  .action {
    font-size: 12px;
    color: $darkest-blue;
    text-decoration: none;
  }

  hr {
    margin-bottom: 13px;
  }

  .navbar {
    padding: 0;
    list-style: none;
  }

  .nav-item {
    padding: 0;
    border-bottom: 1px solid $silver-three;
    width: 100%;

    &:hover {
      .nav-link {
        color: $moss-green-two;
      }
    }
  }

  .nav-link {
    color: $slate-grey;
    padding: 13px 0 13px 50px;
    background-position: 1px 13px;

    &.feed {
      background-image: url(./images/feed.svg);
      background-size: 25px 24px;

      &:hover {
        background-image: url(./images/feed-hover.svg);
      }
    }

    &.ask {
      background-image: url(./images/ask.svg);
      background-size: 25px 24px;

      &:hover {
        background-image: url(./images/ask-hover.svg);
      }
    }

    &.comp {
      background-image: url(./images/companies.svg);
      background-size: 25px 24px;

      &:hover {
        background-image: url(./images/companies-hover.svg);
      }
    }

    &.serv {
      background-image: url(./images/services.svg);
      background-size: 25px 24px;

      &:hover {
        background-image: url(./images/services-hover.svg);
      }
    }
  }

  .see-all {
    color: $darkest-blue;
    text-decoration: none;
  }

  .item-card {
    margin-bottom: 17px;

    .name {
      font-size: 16px;
      color: $darkest-blue;
    }

    caption {
      padding-top: 0;
      margin-top: -7px;
      width: 120px;
    }

    p {
      margin-bottom: 0;
      line-height: 1.4;
    }
  }

  .footer {
    .copy {
      color: $cloudy-blue;
      font-size: 12px;
    }

    .nav {
      margin-top: 10px;

      a {
        color: $cloudy-blue;
        font-size: 12px;
        margin-right: 21px;
      }

    }
  }

}
