@import '../../../styles/colors_and_variables';

.fileUpload-component {

  .dropzone {
    cursor: pointer;
    border: 1px solid $silver-two;
    border-radius: 4px;
    background-color: $white-four;
    width: 130px;
    position: relative;
    height: 130px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .img-container {
    padding: 7px;
    font-family: "Proxima Nova Reg";

    h6 {
      font-size: 16px;
      color: $steel;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;
      color: $silver-two;
      line-height: 14px;
    }
  }

}
